:root {
    --mainColor:#ebe9e9;
    --secondaryColor:#fff;

    --borderColor:c1c1c1;

    --mainText:rgb(34, 34, 34);
    --secondaryText:#646565;

    --themeDotBorder: rgb(58, 57, 57);

    --previewBg:rgba(246, 225, 163, 0.095);
    --previewShadow: rgba(209, 207, 207, 0.298);

    --buttonColor:rgb(184, 182, 184);
}


html, body {
    padding: 0;
    margin: 0;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Oleo Script Swash Caps', cursive;

}

p, li, span, label, input, textarea {
color: var(--secondaryText);
font-family: 'Roboto', sans-serif;
}  

a {
    text-decoration: none;
    color:rgb(254, 107, 156);
}

ul {
    list-style: none;
}

 h1 {font-size: 56px;}
 h2 {font-size: 46px;}
 h3 {font-size: 28px;}
 h4 {font-size: 24px;}
 h5 {font-size: 20px;}
 h6 {font-size: 16px;}


.s1 {
   background-color: var(--mainColor); 
   border-bottom: 1px solid var(--borderColor);
   overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor); 
    border-bottom: 1x solid var(--borderColor);
    overflow:auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}


.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;

}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius:5px 5px 0 0;

    -webkit-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    -moz-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas: 
   'nav-wrapper nav-wrapper'
   'left-column right-column'
 ;
}


.nav-wrapper {
    border-radius:5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}
#navigation a {
    color:var(--mainText);
}

#navigation {
    margin: 0;
    padding: 10px;
}
#navigation li {
display: inline-block;
margin-right: 5px;
margin-left: 5px;
}

.dots-wrapper {
display: flex;
padding: 5px;
}

#dot-1 {
    background-color: red;
}
#dot-2 {
    background-color: yellow;
}
#dot-3 {
    background-color: green;
}
.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    -moz-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);

}



.left-column {
    grid-area: left-column;
    padding-bottom: 50px;
    padding-top: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #4b5156;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    -moz-box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);
    box-shadow: 19px -8px 28px -8px rgba(235,139,124,1);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: white;
}
#blue-mode {
    background-color: blue ;
}
#coral-mode {
    background-color: rgb(252, 201, 201);
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}


.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1px solid rgb(246, 203, 203);
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 6px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid rgb(246, 203, 203);
    background-color: #eaeaea;
    position: absolute;
}

#corner-tl {
    top:-5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right:-5px;
}

#corner-bl {
    bottom:-5px;
    left:-5px;
}

#corner-br {
    bottom:-5px;
    right:-5px;
}

.about-wrapper {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
padding: 50px;
padding-top: 50px;
gap: 50px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.codecademy-links {
    display:table-cell;
    align-content: center;
    text-align: center;
}

#social_img {

    width: 110%;
    margin-top: 135px;
}

#contact-form {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 100px;
}

#input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--buttonColor);
    border: none;
    color:white;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}
@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'nav-wrapper'
        'left column'
        'right column'
        ;
    }
    .right-column {
        justify-content: center;
    }
}